div {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 150px;
}
#bpm {
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.play {
    background-color: #4CAF50;
}
.stop {
    background-color: red;
}
button {
    height: 50px;
}
