<!doctype html>
<html lang="en">

<head>
    <title>kevingal</title>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
</head>

<body>
    <div class="page-container">
    <div class="content-column">
        <header>
            {% set pages = [
                "blog",
                "apps"
            ] %}
            <div class="header-other">
                <h1><a id="title" href="/home">Taming the Machine</a></h1>
                <nav>
                    {% for page in pages: %}
                    <a href="/{{ page }}" class="navlink" {% if page == active_page %} id="active-page" {% endif %}>{{ page }}</a>
                    {% endfor %}
                </nav>
            </div>
        </header>
        <div class="content">
            {% block body %}{% endblock %}
        </div>
    </div>
    </div>
</body>
</html>
