/* Stuff that might tamper with other pages on the
   site in unexpected ways. */

img {
    max-width: 100%;
    height: auto;
}

video {
    max-width: 100%;
}

blockquote {
    margin-left: 32px;
    border-left: 4px solid #CCC;
    padding-left: 8px;
}

figcaption {
    color: grey;
    font-size: 14px;
    margin-top: 10px;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.footnote {
    font-size: small;
}

/* Wrap any tables in a div with this class. 
   Yeah, it sucks, but that's the only way
   to add a scrollbar to an overflowing table,
   without using a f*cked up block display. */
.cooltablewrap {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.cooltablewrap table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 1px solid black;
}

.cooltablewrap th,
.cooltablewrap td {
    text-align: center;
    padding: 2px;
    border: 1px solid black;
}
