/* Stuff that might tamper with other pages on the
   site in unexpected ways. */

blockquote {
    margin-left: 32px;
    border-left: 4px solid #CCC;
    padding-left: 8px;
}

figcaption {
    color: grey;
    font-size: 14px;
    margin-top: 10px;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.footnote {
    font-size: small;
}

.post-title {
    margin-bottom: 5px;
}

.post-date {
    margin-top: 5px;
    font-size: 18px;
    color: rgb(128, 128, 128);
}

.tags {
  padding: 10px;
  margin-bottom: 10px;
  border-style: dotted;
}
