body {
    background-color: white;
    font-family: 'Courier New', monospace;
    max-width: 800px;
}

header {
    text-align: center;
}

nav, h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica', sans-serif;
}
