body {
    font-family: 'Courier New', monospace;
    line-height: 21px;
    max-width: 800px;
    padding-left: 10px;
    padding-right: 10px;
}

a {
    color: blue;
}

a:hover {
    color: #2c7cc9;
}

.navbar-img {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.spaced-li {
    margin-top: 10px;
}

header {
    text-align: center;
}

.navlink {
    font-size: 20px;
}

/* Center elements. */
.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav, h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica', sans-serif;
}

/* Making it a reasonable size on mobile. */
@viewport {
    width: device-width;
    zoom: 1.0;
}

.tiny {
    font-size: 6px;
}

/* Make code elements look nicer. */
code {
    background-color: #f9f2f4;
    color: #c7254e;
    font-size: 16px;
}

div.codehilite {
    max-width: 800px;
    overflow-x: auto;
    padding-left: 5px;
    line-height: 16px;
}

.post-description {
    color: rgb(128, 128, 128);
}
