body {
    font-family: 'Courier New', monospace;
    line-height: 21px;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    margin: auto;
    padding-bottom: 30px;
}

a {
    color: blue;
}

a:hover {
    color: #2c7cc9;
}

.navbar-img {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.spaced-li {
    margin-top: 10px;
}

header {
    margin-top: 10px;
    text-align: center;
}

.navbar {
    margin-bottom: 30px;
}

.navlink {
    font-size: 20px;
}

/* Center elements. */
.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav, h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica', sans-serif;
    line-height: normal;
}

/* Making it a reasonable size on mobile. */
@viewport {
    width: device-width;
    zoom: 1.0;
}

.tiny {
    font-size: 6px;
}

/* Prettify inline code elements. The 'not' part
prevents it from f*cking up codehilite formatting. */
:not(pre) > code {
    background-color: rgb(224, 224, 220);
    color: rgb(36, 41, 46);
    border-radius: 6px;
    font-size: 16px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
}

pre > code {
    width: 100%;
}

div.codehilite {
    max-width: 800px;
    overflow-x: auto;
    line-height: 16px;
    background-color: rgb(228, 228, 224);
    padding: 10px;
    border-style: solid;
    border-color: rgb(212, 212, 212);
    border-width: 3px;
}

.post-entry {
    margin-bottom: 20px;
}

.post-entry-title {
    font-size: 18px;
    margin-bottom: 5px;
}

.post-entry-date {
    color: rgb(128, 128, 128);
}

.post-date {
    font-size: 18px;
    color: rgb(128, 128, 128);
}
