body {
    background-color: white;
    font-family: 'Courier New', monospace;
    max-width: 800px;
}

header {
    text-align: center;
}

/*
a.navlink:visited, a.navlink:link {
    color: grey;
    font-weight: bold;
    text-decoration: none;
}

a.navlink:hover {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}

a#active-page-navlink {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}
*/

nav, h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica', sans-serif;
}

@viewport {
    width: device-width;
    zoom: 1.0;
}

div.codehilite {
    max-width: 800px;
    overflow-x: scroll;
}

.previous-page-link {
    float: left;
    max-width: 200px;
    padding-bottom: 20px;
}

.next-page-link {
    float: right;
    max-width: 200px;
    padding-bottom: 20px;
}

/* Stuff relating to Emojipasta Generator. */
#emojipastainput {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    resize: none;
}

#emojipastageneratebutton {
    display: block;
    padding: 15px 30px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

#emojipastaoutput {
    margin-top: 10px;
}
