<!doctype html>
<html lang="en">

<head>
    <title>{% block title %}kevingal{% endblock title %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="{{ url_for('pygments_css') }}">
    {%  block headerextras %}
    {% endblock headerextras %}
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
    {% if img_thumbnail is defined %}
    <meta property="og:image" content="{{ url_for('static', filename=img_thumbnail) }}" />
    <meta name="thumbnail" content="{{ url_for('static', filename=img_thumbnail) }}" />
    {% endif %}
</head>
<body>
    <header>
        <div data-nosnippet>
        <nav>
        <a href="/index.html" class="navlink">home</a>
        | <a href="/blog.html" class="navlink">blog</a>
        | <a href="/apps.html" class="navlink">apps</a>
        | <a href="/feed.xml"><img class="navbar-img" src="{{ url_for('static', filename='img/rss.png') }}"></a>
        | <a href="https://twitter.com/KevinGalligan2"><img class="navbar-img" src="{{ url_for('static', filename='img/twitter.png') }}"></a>
        </nav>
        </div>
    </header>
{% block content %}
    <p>Default content to be displayed</p>
{% endblock content %}
</body>
</html>
