<!doctype html>
<html lang="en">

<head>
    <title>{% block title %}kevingal{% endblock title %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
</head>

<body>
    <header>
        <div class="banner"><h1>kevingal.com</h1></div>
        {% set top_level_pages = [
            "home",
            "blog",
            "apps"
        ] %}
        <nav>
        {% for pg in top_level_pages: %}
            <a href="/{% if pg == "home" %}index{% else %}{{ pg }}{% endif %}.html" class="navlink">{{ pg }}</a>
        {% endfor %}
        </nav>
    </header>
{% block content %}
    <p>Default content to be displayed</p>
{% endblock content %}

</body>
</html>