<!doctype html>
<html lang="en">

<head>
    <title>{% block title %}kevingal{% endblock title %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="{{ url_for('pygments_css') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
    {% if img_thumbnail is defined %}
    <meta property="og:image" content="{{ url_for('static', filename=img_thumbnail) }}" />
    <meta name="thumbnail" content="{{ url_for('static', filename=img_thumbnail) }}" />
    {% endif %}
    {% if not config['DEBUG'] %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147419708-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-147419708-1');
    </script>
    {% endif %}
</head>
{% set active_page = active_page|default("home") %}
<body>
    <header>
        <div data-nosnippet>
        {% set top_level_pages = [
            "home",
            "blog",
            "projects"
        ] %}
        <nav>
        <img src="/static/img/favicon-16x16.png">
        {% for pg in top_level_pages: %}
            <a href="/{% if pg == "home" %}index{% else %}{{ pg }}{% endif %}.html" class="navlink"{% if pg == active_page %} id="active-page-navlink"{% endif %}>{{ pg }}</a>
        {% endfor %}
        </nav>
        </div>
    </header>
{% block content %}
    <p>Default content to be displayed</p>
{% endblock content %}
</body>
</html>
