{% extends "base.html" %}
{% block headerextras %}
<link rel="stylesheet" href="/static/css/blog.css">
{% endblock headerextras %}
{% block title %} kevingal/blog {% endblock title %}
{% block content %}
<h2>Blog Posts ({{ num_posts }} of 'em)</h2> 
{% for page in posts %}
<div class="post-entry"><div class="post-entry-title"><a href="{{ url_for("page", path=page.path) }}">{{ page.title }}</a></div><div><span class="post-entry-date">{{ page.date }}</span> {{ page.description }}</div></div>
{% endfor %}
{% endblock content %}
