{% extends "page.html" %}
{% block headerextras %}
{{ super() }}
<link rel="stylesheet" href="/static/css/blog.css">
{% endblock headerextras %}
{% block content %}
<h2 class="post-title">{{ page.title }} </h2>
<h3 class="post-date">{{ page.date }}</h3>
<h3 class="post-date">{{ page.description }}</h3>
<p>Tags: {% for tag in page.tags %}<a href="{{url_for('tag', name=tag)}}">{{tag}}</a> {% endfor %}</p>
<hr>
{{ page.html|safe }}
<hr>
{% if prev_post is defined %}<a href="{{ prev_post }}">&lt;&lt; previous</a>{% endif %}{% if next_post is defined %}<a style="float: right;" href="{{ next_post }}">next &gt;&gt;</a>{% endif %}
<ul>
<li><a href="/blog.html">Back to blog</a></li>
<li><a href="/feed.xml">RSS feed</a></li>
</ul>
<p>I'd be happy to hear from you at <i>galligankevinp@gmail.com</i>.</p>
{% endblock content %}
