{% extends "base.html" %}
{% block title %} kevingal.com {% endblock title %}
{% block content %}
<div data-nosnippet>
<h2>About</h2>
<p>Hi, I'm Kevin Galligan. I was a software developer for a few years, now I study coding theory. This is where I keep my software and writing stuff.</p>

<h3>Infrequently Asked Questions</h3>
<p><b>Q: How can I contact you?</b></p>

<p><a href="mailto:galligankevinp@gmail.com">galligankevinp@gmail.com</a>.</p>

<p><b>Q: Does your stuff have a license?</b></p>

<p>All of the content on this site is under a <a href="https://creativecommons.org/licenses/by-nc/2.0/">CC BY-NC license</a>. Basically, do what you want, but give me credit and don't try to sell it.</p>

<p><b>Q: Why does your site look like garbage?</b></p>

<p><a href="https://github.com/Kevinpgalligan/KevingalWebsite">See for yourself</a>.</p>

<p><b>Q: Why doesn't your blog have comments?</b></p>

<p><b>A:</b> It's easier to maintain a static site. All I have to do is upload the files to GitHub Pages and they're magically available to the world. Some day, I might set up a server to host comments.</p>

<p><b>Q: What's the story with the icon?</b></p>

<p><b>A:</b> I needed an icon and drew something vaguely inspired by the Game of Life. Here it is in action.</p>

<img class="centered" alt="The site's icon, animated" src="/static/img/life.gif">


<p><b>Q: What blogs do you recommend?</b></p>
<p><b>A:</b> Try <a href="https://twobithistory.org/">Two-Bit History</a> and <a href="https://jvns.ca/">Julia Evans's blog</a>,

<p><b>Q: What software do you use?</b></p>

<p><b>A:</b> Linux Mint, Python, C/C++ (aspirational), Common Lisp, vim, Emacs, tmux, Firefox, Thunderbird (email, calendar, RSS).</p>
</div>

</body>
{% endblock content %}
