{% extends "base.html" %}
{% block title %} home {% endblock title %}
{% block content %}
<h2>Yet another personal site.</h2>

<div data-nosnippet>
<p>This one belongs to Kevin Galligan.</p>

<p>The source code is <a href="https://github.com/Kevinpgalligan/KevingalWebsite">here</a>.</p>

<p>Contact at: <i>galligankevinp@gmail.com</i>.</p>

<h3>Licensing</h3>
<p>MIT license for the code (including the source of the website itself), Creative Commons BY-NC license
for everything else. Basically, do whatever you want, just give me credit and don't try to sell it.</p>

<a href="https://opensource.org/licenses/MIT"><img alt="MIT license" src="/static/img/mit-license.jpg"></a>

<a href="https://creativecommons.org/licenses/by-nc/2.0/"><img alt="CC BY-NC license" src="/static/img/cc-license.png"></a>
</div>

</body>
{% endblock content %}
