{% extends "base.html" %}
{% block title %} kevingal.com {% endblock title %}
{% block content %}
<div data-nosnippet>
<h3>IAQ</h3>
<p><b>Q:</b> What is this?</p>

<p><b>A:</b> A place where I, Kevin Galligan, put my software and writing stuff.</p>

<p><b>Q:</b> How can I contact you?</p>

<p><b>A:</b> At my email address, <b style="color: green;">galligankevinp@gmail.com</b>, or on Twitter.</p>

<p><b>Q:</b> Does your stuff have a license?</p>

<p><b>A:</b> <a href="https://creativecommons.org/licenses/by-nc/2.0/"><img alt="CC BY-NC license" src="/static/img/cc-license.png"></a>. Basically, do what you want, but give me credit and don't try to sell it.</p>

<p><b>Q:</b> Why does this website look like it was beaten with a lead pipe, lit on fire, and run over by an 18-wheeler truck?</p>

<p><b>A:</b> It's not a design portfolio. Anyway, <a href="https://github.com/Kevinpgalligan/KevingalWebsite">here's the source code</a>, if you want to perform an autopsy.</p>

<p><b>Q:</b> What's an IAQ?</p>

<p><b>A:</b> One of:

<ul>
<li>Infrequently Asked Questions.</li>
<li>Interrogatively Applied Queries.</li>
<li>Insincerely Answered Quizzing.</li>
</ul>
</p>

</div>

</body>
{% endblock content %}
