{% extends "base.html" %}
{% block headerextras %}
{% if page.description is defined %}<meta property="og:description" content="{{page.description}}" /> {% endif %}
{% if page.imgthumbnail is defined %}<meta property="og:image" content="{{ full_url(url_for('static', filename=page.imgthumbnail)) }}" />
<meta name="thumbnail" content="{{ url_for('static', filename=page.imgthumbnail) }}" />
{% else %}<meta property="og:image" content="{{ full_url(url_for('static', filename='img/thumbnail.jpg')) }}" />
<meta name="thumbnail" content="{{ url_for('static', filename='img/thumbnail.jpg') }}" />
{% endif %}
{% if requires_code %}<link rel="stylesheet" href="/static/css/pygments.css">{% endif %}
{% if requires_math %}<link rel="stylesheet" href="/static/katex/katex.min.css">{% endif %}
{% if page.description %}<meta property="description" content="{{ page.description }}">{% endif %}
{% endblock headerextras %}
{% block title %} {{ page.title }} {% endblock title %}
{% block content %} {{ page.html|safe }} {% endblock content %}
