{% extends "base.html" %}
{% set active_page = "projects" %}
{% block title %} projects {% endblock title %}
{% block content %}
<h2>Web Apps</h2>
<ul>
    <li><a href="{{ url_for("specific_app", name="emojipasta") }}">Emojipasta 🤖 Generator ️✨</a>: add word-relevant emojis to text.</li>
    <li><a href="{{ url_for("specific_app", name="pixelate") }}">Pixelate</a>: make images more pixely. <img src="/static/img/pixelate/dog-before.png"><img src="/static/img/pixelate/dog-after.png"><img src="/static/img/pixelate/dog-after-bw.png"></li>
</ul>
{% endblock content %}
