{% extends "base.html" %}
{% block title %} projects {% endblock title %}
{% block content %}
<h2>Web Apps</h2>
<ul>
    <li><a href="{{ url_for("specific_app", name="emojipasta") }}">Emojipasta 🤖 Generator ️✨</a>: add word-relevant emojis to text.</li>
    <li><a href="{{ url_for("specific_app", name="pixelate") }}">Pixelate</a>: make images more pixely. <img src="/static/img/pixelate/dog-before.png"><img src="/static/img/pixelate/dog-after.png"><img src="/static/img/pixelate/dog-after-bw.png"></li>
</ul>

<h2>Other</h2>
<ul>
    <li><a href="https://github.com/Kevinpgalligan/SynacorVM">SynacorVM</a>: implementation of a virtual machine and assembler.</li>
    <li><a href="https://github.com/Kevinpgalligan/RedditBotBuilder">RedditBotBuilder</a>: a framework for developing Reddit bots.</li>
    <li><a href="https://github.com/Kevinpgalligan/Kotlex">Kotlex</a>: regex implementation in Kotlin.</li>
    <li><a href="https://github.com/Kevinpgalligan/FlagAnalysis">FlagAnalysis</a>: average national flag and colour frequency of national flags.</li>
</ul>

{% endblock content %}
