{% extends "base.html" %}
{% block title %}kevingal/software{% endblock title %}
{% block content %}
<h2 id="software">Software</h2>

<p>Below is a selection of free software I've developed, typically because it's useful or amusing to me.</p>

<table class="bordered-centered-table">
<tr><th>Name/link</th><th>Type</th><th>Description</th><th>More info</th></tr>
{% for project in projects %}<tr><td><a href="{{project.link}}">{{project.name}}</a></td><td>{{proj_type_to_emoji(project.type)}}</td><td>{{project.description}}</td><td><a href="#{{project.id}}">goto</a></td>
{% endfor %}
</table>

{% for project in projects %}<hr>
<h3>{{project.name}}<span class="project-link">(link: <a id="{{project.id}}" href="{{project.link}}">{{url_to_linkname(project.link)}}</a>) <a href="#software">^</a></span></h3>
{{project.html|safe}}
{% endfor %}
{% endblock content %}

