{% extends "base.html" %}
{% block title %} kevingal/software {% endblock title %}
{% block content %}
<h2>Software</h2>

<p>Below is a selection of free software I've developed, typically because it's useful or amusing to me.</p>

<p>Navigation list for getting around this page quickly:</p>

<table class="bordered-centered-table">
<tr><th>Name</th><th>Type</th><th>Description</th><th>Quicklink</th></tr>
{% for project in projects %}<tr><td>{{project.name}}</td><td>{{proj_type_to_emoji(project.type)}}</td><td>{{project.description}}</td><td><a href="#{{project.id}}">goto</a></td>
{% endfor %}
</table>

<p>Key:</p>

<ul>
<li>🌎 = web app.</li>
<li>📥 = desktop app.</li>
</ul>

{% for project in projects %}<hr>
<h3>{{proj_type_to_emoji(project.type)}} {{project.name}}<span class="project-link">(<a id="{{project.id}}" href="{{project.link}}">{{url_to_linkname(project.link)}}</a>)</span></h3>
{{project.html|safe}}
{% endfor %}
{% endblock content %}

