{% extends "base.html" %}
{% block headerextras %}
<link rel="stylesheet" href="/static/css/emojipasta.css">
{% endblock headerextras %}
{% block title %} Emojipasta Generator 😍{% endblock title %}
{% block content %}
<script src="/static/js/apps/emojipasta/emoji-mappings.js"></script>
<script src="/static/js/apps/emojipasta/emojipasta.js"></script>
<script>
    function writeEmojipasta() {
        var text = document.getElementById("emojipastainput").value;
        document.getElementById("emojipastaoutput").innerHTML = generateEmojipasta(text);
    }
</script>
<h3>Emojipasta ❤ Generator 🤖</h3>
<p>Adds word-relevant emojis ❤ to text ✨ with sometimes hilarious 😂 results 😏. Read more about its history 📚 and how it works <a href="{{ url_for("page", path="blog/emojipasta") }}">here</a>.</p>
<textarea id="emojipastainput" rows="5"></textarea>
<button id="emojipastageneratebutton" onclick="writeEmojipasta();">Generate Emojipasta</button>
<div id="emojipastaoutput"></div>

{% endblock content %}
