{% extends "base.html" %}
{% set active_page = "apps" %}
{% block title %} 🤖❤{% endblock title %}
{% block content %}
<script src="/static/js/apps/emojipasta/emoji-mappings.js"></script>
<script src="/static/js/apps/emojipasta/emojipasta.js"></script>
<script>
    function writeEmojipasta() {
        var text = document.getElementById("emojipastainput").value;
        document.getElementById("emojipastaoutput").innerHTML = generateEmojipasta(text);
    }
</script>
<h3>Emojipasta ❤ Generator 🤖</h3>
<p>Adds word-relevant emojis 😍 to text ✨ with sometimes hilarious 😂 results 😏</p>
<textarea id="emojipastainput" rows="5"></textarea>
<button id="emojipastageneratebutton" onclick="writeEmojipasta();">Generate Emojipasta</button>
<div id="emojipastaoutput"></div>
{% endblock content %}
