<html>
<head>
    <title>Just a F*cking Metronome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/apps/metronome/m.css">
</head>
<body>
<script src="/static/apps/metronome/a.js"></script>
<div>
<span id="bpm">100 bpm</span><button id="change" class="play" onclick="change();">play</button>
<button onclick="adjustBpm(-1);">-1</button><button onclick="adjustBpm(1);">+1</button>
<button onclick="adjustBpm(-5);">-5</button><button onclick="adjustBpm(5);">+5</button>
<button onclick="adjustBpm(-25);">-25</button><button onclick="adjustBpm(25);">+25</button>
</div>
<p>Just a F*cking Metronome | <a href="/">kevingal.com</a></p>
</body>
</html>
