{% extends "base.html" %}
{% set active_page = "apps" %}
{% block title %} Pixelate{% endblock title %}
{% block content %}
<script src="/static/js/apps/pixelate/pixelate.js"></script>
<script>
    function updateSliderDisplay(value) {
        document.getElementById('sliderInput').innerHTML = value;
    }
</script>
<h3>Pixelate</h3>
<p>A tool that pixelates an image and (optionally) converts it to black & white.</p>
<p>Sample: <img src="/static/img/pixelate/dog-before.png"><img src="/static/img/pixelate/dog-after.png"><img src="/static/img/pixelate/dog-after-bw.png"></p>
<h5>Input</h5>
<div>
    <input type="file" autocomplete="off" onchange="saveImageData(event)" />
</div>
<div>
    <canvas id="input-img-display" width="0" height="0"></canvas>
</div>
<h5>Output</h5>
<div>
    <p>Pixel size <input id="block-size" type="number" value="3" autocomplete="off" min="1" onchange="drawPixelated()"/></p>
    <p>Pixel size in result <input id="new-block-size" type="number" value="3" autocomplete="off" min="1" onchange="drawPixelated()"/></p>
    <p>Black & white <input id="black-n-white" type="checkbox" autocomplete="off" onchange="drawPixelated()" checked /></p>
    <p>Lightness threshold (only affects black & white)
        <input id="lightness-threshold" type="range" min="0" max="255" autocomplete="off" value="128"
               oninput="updateSliderDisplay(this.value); drawPixelated()" />
        <span id="sliderInput">128</span>
    </p>
</div>
<div>
    <canvas id="output-img-display" width="0" height="0"></canvas>
</div>

{% endblock content %}
