<!DOCTYPE html>
<title>Tuner</title>
<meta name=viewport content=width=device-width>
<style>body{display:grid;grid-template-columns:50%50%;max-width:150px}#b,button{text-align:center;line-height:50px}</style>
<script>
// TODO
// 1. Stop notes from interfering.
// 2. Fix volume of low pitch notes.
// 3. Hacks to re-add: comma everywhere instead of semi-colon, remove all newlines
f=[82,110,147,196,247,330];
N="E,A,D,G,B,E".split(",");
o=p=F=x=!1;
I=.025;
l=.1;
n=0;
L=(G,v,t)=>G.linearRampToValueAtTime(v,t);
D=document;
x=new AudioContext,
s=(()=>{
if (n<=x.currentTime+l) {
    o=x.createOscillator();
    v=x.createGain();
    o.connect(v);
    v.connect(x.destination);
    o.frequency.value=F;
    o.start(n);
    o.stop(n+2);
    G=v.gain;
    G.setValueAtTime(.1,0);
    L(G,1,n+.1);
    L(G,0,n+1.9);
    n+=2;
}
    });
r=(()=>p&&(s(),setTimeout(r,I)));
window.onload=(()=>[...Array(6)].map((_,i)=>(e=D.createElement("button"),e.innerHTML=N[i],e.addEventListener("click",()=>(p&&(F==f[i])?(p=!1,F=0):(p=!0,n=x.currentTime,F=f[i],o&&(o.frequency.value=F),r()))),D.body.appendChild(e))));
</script>
